
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --border: 0deg 0% 80%;
    --input: 0deg 0% 98%;
    --ring: 0deg 0% 0%;
    --background: 0deg 0% 100%;
    --foreground: 0deg 0% 0%;
    --primary: 200deg 80% 50%;
    --primary-foreground: 200deg 80% 100%;
    --secondary: 340deg 70% 50%;
    --secondary-foreground: 340deg 70% 100%;
    --destructive: 10deg 80% 50%;
    --destructive-foreground: 10deg 80% 100%;
    --muted: 200deg 10% 50%;
    --muted-foreground: 200deg 10% 90%;
    --accent: 300deg 60% 60%;
    --accent-foreground: 300deg 60% 100%;
    --popover: 0deg 0% 95%;
    --popover-foreground: 0deg 0% 10%;
    --card: 0deg 0% 100%;
    --card-foreground: 0deg 0% 0%;

    --radius: 8px;

    --font-sans: 'Inter', sans-serif;
}

